


{% extends 'base.html' %}

{% block title %}Bem-vindo ao Sistema de Gestão de Obras{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="mb-4 text-primary font-weight-bold">Sistema de Gestão de Obras</h1>
    <p class="lead text-muted">
        Organize, acompanhe e gerencie seus projetos de construção em um único lugar, com uma interface simples e eficiente.
    </p>
    <p class="mb-4">
        Descubra como nosso sistema pode ajudar você a economizar tempo e melhorar a eficiência do gerenciamento de suas obras. 
        Simples, rápido e poderoso!
    </p>
    
    <hr class="my-4">

    <h4 class="mt-5 text-secondary">Por que usar nosso sistema?</h4>
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="card shadow-lg mb-4">
                <div class="card-body">
                    <h5 class="card-title text-success">Gerenciamento Simplificado</h5>
                    <p class="card-text">Com nosso sistema, você poderá monitorar todas as etapas da obra em tempo real e tomar decisões de maneira eficiente.</p>
                </div>
            </div>

            <div class="card shadow-lg mb-4">
                <div class="card-body">
                    <h5 class="card-title text-success">Acompanhamento em Tempo Real</h5>
                    <p class="card-text">Acompanhe as modificações, alocação de recursos e atualizações diretamente da plataforma, com relatórios claros e objetivos.</p>
                </div>
            </div>

            <div class="card shadow-lg mb-4">
                <div class="card-body">
                    <h5 class="card-title text-success">Acesso Seguro e Rápido</h5>
                    <p class="card-text">Acesso a qualquer momento e de qualquer lugar. Segurança de ponta para garantir a proteção dos seus dados.</p>
                </div>
            </div>
        </div>
    </div>

    <p class="mt-4">
        E tem mais! Nosso sistema conta com um <strong>bot de assistência</strong> pronto para ajudá-lo. 
        Sempre que tiver dúvidas, basta clicar no ícone do canto inferior direito da tela e começar a conversar com o <strong>Bob, o construtor.</strong>
    </p>
    
    <p class="mt-4 text-muted">
        Seja bem-vindo(a)! Estamos prontos para transformar a forma como você gerencia suas construções.
    </p>
    
    <hr class="my-4">

    <p class="mt-3">
        <small>Para mais informações, entre em contato com nossa equipe de suporte!</small>
    </p>
</div>
{% endblock %}
